:root {
    --primary-color: #8064A2;
    --secondary-color: #0096C8;
    --purple-3:#CCC1DA;
   --Grey-Lighter:#F8F9FA;
   --Grey-Hover:#EBEDF0;
  }
  .inputStyle {
    border: 1px solid #8064A2;
    background-color: #fff;
    color: #8064A2;
    padding: 10px 32px;
    border-radius: 8px;
  }
  .inputStyle:hover{
    box-shadow: none; 
    border: 1px solid #8064A2;
  }
 .form-control{
    margin-bottom:16px;
 }
 .text-center{
    align-items: center;
 }
 /* Styles to remove default button styles */
.no-style-button {
    background-color: transparent;
    border: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    outline: none;
  }
.border-bottom-button {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border-bottom: 2px solid transparent; 
    transition: border-color 0.3s ease-in-out; 
  }
  
  .border-bottom-button.active {
    border-bottom-color: #8064A2;
  }
  .style-none{
    text-decoration: none;
    color:black;
  }
  /* CSS for PasswordInput component */
.password-input-container {
    position: relative;
  }
  
  .eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  