
/* variables.css */
:root {
    --primary-color: #8064A2;
    --secondary-color: #0096C8;
    --purple-3:#CCC1DA;
   --Grey-Lighter:#F8F9FA;
   --Grey-Hover:#EBEDF0;
  }
.navbar{
height: 80px;
flex-shrink: 0;
box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
}
/* Add this style to your CSS file or in your component's style tag */

.custom-select {
    border: none;
    outline: none;
    appearance: none;
    background-color: transparent; /* or set your desired background color */
    padding: 0; /* adjust as needed */
    margin: 0; /* adjust as needed */
  }
  .buttonStyle {
    background-color:var(--primary-color);
    color: white;
    cursor: pointer;
  }
  .buttonStyle:hover {
    background-color: var(--purple-3); 
  }
  .input-group .form-control {
    /* or any other border color you prefer */
    box-shadow: none; 
    border-radius: 8px;
    background:var(--Grey-Lighter);
border-color: var(--Grey-Hover);/* Remove the box-shadow on hover */
  }